* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
}

:root {
    --desktopW: 1200px;
    --mobileW: 375px;
    /* colors */
    --primary-c: #26baa4;
    --primary-b: #6173ff;
    --neutral-dark: #4c545d;
    --neutral-light: #9fabb2;
}

/* utils */
.container {
    max-width: var(--desktopW);
    margin: 0 auto;
    text-align: center;
}
.container-md{
    max-width: calc(var(--desktopW) - 200px);
    margin: 0 auto;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.d-flex{
    display: flex;
}


.btn{
    padding: 15px 30px;
    background-color: black;
    border-radius: 30px;
    transition: all linear .2s;
}
.btn:hover{
    filter: saturate(.4) brightness(1.4);
}
.btn-primary{
    background-color: var(--primary-c);
    color: white;
    box-shadow: 0px 10px 15px -3px rgba(38,186,164,0.2);

}
.btn-secondary{
    background-color: var(--primary-b);
    color: white;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
h1, h2{
    color: var(--neutral-dark);
    max-width: 55%;
    margin: 1rem auto 2rem auto;
}
p{
    color: var(--neutral-light);
}
/* header */
header {
    background-image: url('../images/bg-header-desktop.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.hero {
    display: grid;
    height: 60vh;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.item {
    display: grid;
}
.content{
    place-self: center; 
    width: 100%;
}
header img{
   display: block;
   margin: 2rem auto 3rem auto;
}
h1{
    font-size: 2.3em;
}
header p, section h2+p{
    max-width: 55%;
    margin: .5rem auto 3rem auto;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

/* main */
#firstSection{
    margin-top: 8rem;
}
section{
    margin-top: 4rem;
    margin-bottom: 4rem;
}
h2{
    font-size: 2rem;
}
.imgANDtxt{
    margin-top: 6rem;
}
.sectionImgContainer{
    width: 60%;

}
section img{
    object-fit: contain;
    width: 100%;
}

.sectionTextcontainer{
    text-align: left;
    width: 40%;
    padding-left: 4rem;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem
}
h3{
    font-size: 1.5rem;
    color: var(--neutral-dark);
}

h3+p{
    color: var(--neutral-light);
    padding-right: 1.5rem;
    margin-bottom: 3rem;
}

.cardContainer{
    width: 100%;
}
.card{
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    justify-content: start;
    align-items: center;
}
.imgCardcontainer{
    min-height: 50px;
}
.card img{
    width: 100%;
    display: block;
}

.logo{
    width: calc(100% / 5);
    padding: 2rem;
}
.logo img{
    width: 100%;
    display: block;
}

/* footer */
footer{
    background-color: #eee;
}
.footerContainer{
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

ul li{
    margin: 0 1rem;
    color: var(--neutral-dark);
}

ul li:hover{
    color: var(--primary-c);
    cursor: pointer;
}

.social{
    gap: 1rem;
}
.social a:hover{
    filter: invert(60%) sepia(74%) saturate(437%) hue-rotate(121deg) brightness(88%) contrast(85%);
}

.logoFooter {
    width: 5%;
}


@media screen and (max-width: 500px) {
    header {
        min-height: 70vh;
        background-image: url('../images/bg-header-mobile.png');
    }
    header img{
        margin-top: 5rem;
    }
    h1, h2{
        color: var(--neutral-dark);
        max-width: 100%;
        margin: 1rem auto .5rem auto;
        padding: 0 1.5rem;
    }
    header p, section h2+p{
        max-width: 100%;
        padding: 1.5rem;
        margin: 0 auto 2rem auto;
    }
    .buttonContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        padding: 1rem 2.5rem;
    }
    h2{
        font-size: 1.5rem;
    }
    .imgANDtxt{
        margin-top: 6rem;
        flex-direction: column;
    }
    .sectionImgContainer{
        width: 100%;
    }
    section img{
        object-fit: contain;
        width: 100%;
        padding: 1.5rem;
    }
    
    .sectionTextcontainer{
        text-align: center;
        width: 100%;
        padding-left: 0;
        display: block;
        padding: 1.5rem;
    }

    h3{
        font-size: 1.4rem;
        color: var(--neutral-dark);
        margin-bottom: 1.3rem;
    }
    
    h3+p{
        color: var(--neutral-light);
        padding-right: 0;
        margin-bottom: 3rem;
    }
    .cardContainer{
        width: 100%;
        flex-direction: column;
    }
    .card{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        text-align: center;
        justify-content: start;
        align-items: center;
        padding: 1.5rem;
    }
    .imgCardcontainer{
        min-height: 50px;
    }
    .card img{
        width: 100%;
        display: block;
    }
    .logosContainer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .logo{
        width: 100%;
        padding: 2rem;
    }
    .logo img{
        width: 50%;
        display: block;
        margin: 0 auto;
    }
    .footerContainer{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
    }
    footer ul{
        flex-direction: column;
        margin: 1.5rem 0;
    }
    ul li{
        margin: .5rem 0;
    }
    
    .social{
        margin-top: 2rem;
        gap: 2rem;
    }
    
    .logoFooter {
        width: 15%;
    }
    
}