* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
}

:root{
    --desktopW: 1440px;
    --mobileW: 375px;
    /* colors */
    --primary-c: hsl(171, 66%, 44%);
    --primary-b: hsl(233, 100%, 69%);
    --neutral-dark: hsl(210, 10%, 33%);
    --neutral-light:hsl(201, 11%, 66%);
}

